*.a
*.adb
*.asm
*.cdb
*.ihx
*.lnk
*.lst
*.map
*.mem
*.o
*.rel
*.rst
*.sym
.deps
aclocal.m4
ao_flight_test
ao-teledongle.h
ao-telemetrum.h
ao-teleterra.h
ao-tidongle.h
aoload/aoload
ccdump/ccdump
ccmanual/ccmanual
aoview/Makefile
aoview/aoview
autom4te.cache
config.*
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
tags
teledongle
telemetrum
teleterra
tidongle
