*~
*.a
*.adb
*.asm
*.cdb
*.ihx
*.lnk
*.lst
*.map
*.mem
*.o
*.rel
*.rst
*.sym
.deps
TAGS
aclocal.m4
libtool
ltmain.sh
src/Version
src/ao_flight_test
src/ao_gps_test
src/ao_gps_test_skytraq
src/ao_kalman.h
ao-teledongle.h
ao-telemetrum.h
ao-teleterra.h
ao-tidongle.h
ao-tools/ao-bitbang/ao-bitbang
ao-tools/ao-dbg/ao-dbg
ao-tools/ao-dumplog/ao-dumplog
ao-tools/ao-dump-up/ao-dump-up
ao-tools/ao-eeprom/ao-eeprom
ao-tools/ao-edit-telem/ao-edit-telem
ao-tools/ao-elftohex/ao-elftohex
ao-tools/ao-list/ao-list
ao-tools/ao-load/ao-load
ao-tools/ao-postflight/ao-postflight
ao-tools/ao-rawload/ao-rawload
ao-tools/ao-send-telem/ao-send-telem
ao-tools/ao-sky-flash/ao-sky-flash
ao-tools/ao-usbload/ao-usbload
ao-tools/ao-view/ao-view
ao-view/Makefile
ao-view/ao-view
autom4te.cache
compile
config.*
config.h
config.h.in
config.log
config.status
build-stamp
configure-stamp
configure
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
tags
doc/telemetrum.fo
doc/telemetrum.html
doc/telemetrum.pdf
altosui/altos-windows.log
pdclib-root
