*.a
*.adb
*.asm
*.cdb
*.ihx
*.lnk
*.lst
*.map
*.mem
*.o
*.rel
*.rst
*.sym
.deps
TAGS
aclocal.m4
src/ao_flight_test
src/ao_gps_test
ao-teledongle.h
ao-telemetrum.h
ao-teleterra.h
ao-tidongle.h
ao-tools/ao-bitbang/ao-bitbang
ao-tools/ao-dbg/ao-dbg
ao-tools/ao-eeprom/ao-eeprom
ao-tools/ao-load/ao-load
ao-tools/ao-rawload/ao-rawload
ao-view/Makefile
ao-view/ao-view
autom4te.cache
config.*
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
tags
teledongle
telemetrum
teleterra
tidongle
