[GdmGreeterTheme]
Greeter=altusmetrum.xml
Name=AltusMetrum
Description=altusmetrum.org
Author=Bdale Garbee
Copyright=Bdale Garbee
Screenshot=screenshot.png
