[Desktop Entry]
Type=Application
Name="AltOS View"
GenericName="TeleMetrum Telemetry Viewer"
Comment=View and log downlink data from TeleMetrum
Icon=/usr/share/pixmaps/altusmetrum.xpm
Exec=/usr/bin/ao-view %f
Terminal=false
MimeType=text/plain;
Categories=Viewer;Network;
