[Desktop Entry]
Type=Application
Name=AltOS UI
GenericName=Altus Metrum Ground Station
Comment=View and log downlink data from Altus Metrum products
Icon=/usr/share/pixmaps/altusmetrum.xpm
Exec=/usr/bin/altosui %f
Terminal=false
MimeType=text/plain;
Categories=Education;Electronics;Science;
