*.jar
Manifest.txt
Manifest-fat.txt
classes
*.stamp
micropeak
micropeak-test
micropeak-jdb
micropeak-windows.log
micropeak-windows.nsi
MicroPeak-Linux-*
MicroPeak-Mac-*
MicroPeak-Windows-*
micropeak.desktop
*.dll
*.dylib
*.so
linux
macosx
CDM*.exe
FTDI*.dmg
Info.plist
