windows/
linux/
macosx/
fat/
Manifest.txt
Manifest-fat.txt
AltosVersion.java
Info.plist
libaltosJNI
classes
telegps
telegps-test
telegps-jdb
classtelegps.stamp
telegps-windows.nsi
TeleGPS-Linux-*.tar.bz2
TeleGPS-Linux-*.sh
TeleGPS-Mac-*.zip
TeleGPS-Windows-*.exe
telegps.desktop
telegps-windows.log
*.dll
*.dylib
*.so
*.jar
*.class
*.dmg
