windows/
linux/
macosx/
fat/
Manifest.txt
Manifest-fat.txt
AltosVersion.java
Info.plist
libaltosJNI
classes
altosui
altosui-test
altosui-jdb
classaltosui.stamp
altos-windows.nsi
Altos-Linux-*.tar.bz2
Altos-Linux-*.sh
Altos-Mac-*.zip
Altos-Windows-*.exe
altos.desktop
*.dll
*.dylib
*.so
*.jar
*.class
*.dmg
