windows/
linux/
macosx/
fat/
Manifest.txt
Manifest-fat.txt
libaltosJNI
classes
altosui
altosui-test
classaltosui.stamp
Altos-Linux-*.tar.bz2
Altos-Mac-*.zip
Altos-Windows-*.exe
*.dll
*.dylib
*.so
*.jar
*.class
